@font-face {
  font-family: mainFont;
  src: url(fonts/Roboto_Slab/static/RobotoSlab-Light.ttf);
}

body {
  background-color: #0A2647;
  color: #2C74B3;
  font-family: mainFont;
  margin: 0;
}

[contenteditable] {
  outline: 0px solid transparent;
  text-decoration: underline;
}

[contenteditable]:focus {
  outline: 0px solid transparent;
  text-decoration-style: dotted;
}

#uname-div {
  float: right;
  padding: .375rem .75rem;
}

#uname-div > h1 {
  display: inline; 
}

#settings-button {
  float: right;
}


#site-header {
  font-size: 1rem;
  right: 0;
  padding: 40px;
  color: #0A2647;
  background-color: #2C74B3;
  height: 4rem;
}

#site-header > button {
  display: inline-block;
	font-weight: 400;
	color: #2C74B3;
	text-align: center;
	border: 1px solid transparent;
	padding: .375rem .75rem;
  margin: 10px;
	font-size: 1rem;
	line-height: 1.5;
	background-color: #0A2647;
  top: 50%;
}

#site-header > button:hover {
  color: #0A2647;
  border: #0A2647 1px solid;
	background-color: #2C74B3;
}

.setting-div {
  font-size: 1rem;
  right: 0;
  padding: 40px;
  color: #2C74B3;
  background-color: #0A2647;
}

.class-info-div {
  font-size: 1rem;
  right: 0;
  padding: 40px;
  color: #2C74B3;
  background-color: #0A2647;
}

.class-info-div > h3 {
  display: inline;
}

.class-info-div > button {
  display: inline-block;
}

#classes-div, #task-calendar, #weekly-class-schedule, #todo-list, #morning-briefing, #spotify-player {
  padding: 40px;
}

#classes-div > h1 {
  display: inline;
}

#add-class-button {
  display: inline-block;
}

.class-time-info-div {
  background-color: #0A2647;
  margin: auto;
  padding: 20px;
  border: 1px solid #2C74B3;
  margin: 20px;
  width: 80%;
}


/* MODAL */

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: #0A2647; /* Fallback color */
}

.modal-content {
  background-color: #0A2647;
  margin: auto;
  padding: 20px;
  border: 1px solid #2C74B3;
  margin-bottom: 200px;
  width: 80%;
}

.close-modal {
  color: #2C74B3;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close-modal:hover,
.close-modal:focus {
  color: #205295;
  text-decoration: none;
  cursor: pointer;
}

input[type=text], input[type=time], input[type=date] {
  display: inline-block;
	font-weight: 400;
	color: #2C74B3;
	text-align: center;
	border: 1px solid transparent;
	padding: .375rem .75rem;
  margin: 10px;
	font-size: 1rem;
  font-family: mainFont;
	line-height: 1.5;
  border: #2C74B3 1px solid;
	background-color: transparent;
}

input[type="time"]::-webkit-calendar-picker-indicator, input[type="date"]::-webkit-calendar-picker-indicator{
  filter: invert(39%) sepia(44%) saturate(725%) hue-rotate(166deg) brightness(98%) contrast(101%);
}

input[type=text]::placeholder {
  color: rgb(44, 116, 179, 0.4);
  font-family: mainFont;
}

input[type=color] {
  margin: 10px;
  background-color: #0A2647;
  border: transparent;
}

input:focus {
  outline: none;
}

button {
  font-family: mainFont;
}

.choose-semester-button {
  display: inline-block;
	font-weight: 400;
	color: #2C74B3;
	text-align: center;
	border: 1px solid transparent;
	padding: .375rem .75rem;
  margin: 10px;
	font-size: 1rem;
	line-height: 1.5;
  border: #2C74B3 1px solid;
	background-color: transparent;
}

.choose-semester-button:hover {
	color: #0A2647;
	background-color: #2C74B3;
}

button, #add-semester-button, #change-name-button, #change-semester-button, #clear-data-test, #add-class-button, #delete-class-button, #class-info-modal button {
  display: inline-block;
	font-weight: 400;
	color: #0A2647;
	text-align: center;
	border: 1px solid transparent;
	padding: .375rem .75rem;
  margin: 10px;
	font-size: 1rem;
	line-height: 1.5;
	background-color: #2C74B3;
}

button:hover, #add-semester-button:hover, #change-name-button:hover, #change-semester-button:hover, #clear-data-test:hover, #add-class-button:hover, #delete-class-button:hover, #class-info-modal button:hover{
  color: #2C74B3;
  border: #2C74B3 1px solid;
	background-color: #0A2647;
}

.choose-class-button, .choose-class-button:hover {
  display: inline-block;
	font-weight: 400;
	color: #212529;
	text-align: center;
	border: 1px solid transparent;
	padding: .375rem .75rem;
  margin: 10px;
	font-size: 1rem;
	line-height: 1.5;
	color: #fff;
	background-color: #191919;
}